* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#041C32, #0e3a5c, #041C32);
  }
  
  #inicio { 
    background-size: auto;
    padding: 1%;
    background: linear-gradient(#041C32, #0e3a5c, #041C32);
    color:  #f7f0f2 ;
    font-family:'Courier New', Courier, cursive;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 30px;
   border-bottom: #f7f0f2 solid;

  }
  h1 {
    text-align: right;
    background-position: top;
     
     

  }
 
 
#texto {
    text-align: center;
    font-family: 'Trebuchet MS', cursive;
    margin-top: 25px;
    font-size: larger;
    padding: 2%;
    color: #FFFFFF;
    background-position: center;
    
    }
 h2 {
        background-position: top;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        margin-bottom: 2%;
        color: #FFFFFF;


    }
    main{
        text-align:center;
        font-size: 20px;

    }
    .img {
    display: flex;
    justify-content: center;
      
    }
    .img img{
        width: 100%;
    
    }

  footer{

    border-top: #f7f0f2 solid;
    background-size: auto;
    text-align: center;
    padding: 15px;
    margin-top: 100%;
    background: linear-gradient(#041C32, #24282B);
  }
  footer p {
    text-align: center;
    color: blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .img-fija {
    width: 80%;
    height: 100%;
    margin: 2% 20px;
    box-shadow: #383a3b 1px 1px 5px;
  
  }
  .primero {
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .primero article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: max-content;
    padding: 0;
    border:  2px solid rgb(92, 191, 230);
  }
  .primero .contenido {
    margin: 0 80px;
    text-align: justify;
    width: 80%;
  }
  .primero h4{
    color: #FFFFFF;
    text-align: center;
  }
  #contenido {
    margin-top: 15%;
    border-top: #FFFFFF solid;
 
  }
  #interes {
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }